/* whatsappbutton.css */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-logo {
  height: 70px;
  width: 70px;
  transition: transform 0.3s ease;
}

.whatsapp-logo:hover {
  transform: scale(1.1);
}
