.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  align-items: stretch;
  text-decoration: none;
  a{
    text-decoration: none;
  }
  .click-here-button{
    color: red;
  }
}

.homepage-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  .product-card{
    width: auto;
  }

}
