*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #E5D0CF;
  /* background-color: #577D73; Dark Green */
  /* color: #E5D0CF; Soft Pink text */
  /* background: linear-gradient(180deg, #E5D0CF, #577D73); */
 /* background: linear-gradient(to right, #E5D0CF, #577D73); */
  color: #333;
  font-family: "Poppins", sans-serif;
}
