*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #E5D0CF;
  /* background-color: #577D73; Dark Green */
  /* color: #E5D0CF; Soft Pink text */
  /* background: linear-gradient(180deg, #E5D0CF, #577D73); */
 /* background: linear-gradient(to right, #E5D0CF, #577D73); */
  color: #333;
  font-family: "Poppins", sans-serif;
}


.loader-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
